@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Josefin Sans", sans-serif;
}

.hero {
    min-height: 80vh;
    background-color: #111E36;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;
}

.logo {
    width: 150px; 
}

.desktop-menu {
    flex-grow: 1;
    text-align: center;
}

.desktop-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.desktop-menu ul li {
    margin: 0 15px;
}

.desktop-menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 800;
    color: #ffffff;
}

.open-menu {
    background-color: #333E52; 
    max-width: 100px;
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 5px;
}

.open-menu a {
    color: white;
    text-decoration: none;
}

.open-menu:hover {
    background-color: #111E36;
    border: 1px solid #fff;
}
.hero .hero__content {
    flex-grow: 1;
    gap: 2rem;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}
.hero__content-img img {
    width: 500px;
}
.hero__content-title {
    max-width: 500px;
    text-align: left;
}
.hero__content-title h2 {
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-bottom: 2rem;
}
.hero__content-title h3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    padding: 0 2rem 0 0;
    color: #fff;
    font-weight: 350;
}
.button-container {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
}

.btn-1 {
    background-color: #007BFF; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 1rem;
}



.inversion {
    font-family: "Josefin Sans", sans-serif;
    background-color: #111E36;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#resultado {
    margin-top: 20px;
    padding: 20px;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #111E36;
}

.crypto-earn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 2rem;
    background-color: #111E36;
}

.crypto-earn__image img {
    max-width: 100%;
    height: auto;
}

.crypto-earn__content {
    max-width: 500px;
}

.crypto-earn__content h3 {
    color: #55a3f3;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.crypto-earn__content h1 {
    color: #fff;
    font-size: 40px;
    margin: 3rem 0;
}

.crypto-earn__content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #8ca1b3;
}

.crypto-earn__rates {
    margin-top: 2rem;
    display: flex;
    gap: 50px;
}

.crypto-earn__rates h2 {
    font-size: 32px;
    color: #55a3f3;
}

.crypto-earn__rates p {
    color: #8ca1b3;
}

@media (max-width: 768px) {
    .hero {
        min-height: 80vh;
        padding: 8px 5rem;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }
    .open-menu, .close-menu, .mobile-menu__nav {
        display: none;
    }
    .desktop-menu {
        display: none;
    }

    header {
        flex-direction : column; 
        align-items : flex-start; 
        padding : 1.5rem; 
    }

    .desktop-menu ul li {
        margin : .5rem 0; 
        display : block; 
    }
    .hero__content {
        flex-direction: column;
    }

    .hero__content-title h2 {
        font-size : 2.5rem; 
        text-align: center;
    }
    
    .hero__content-img img {
        width: 400px;

    }

    .hero__content-title h3 {
        font-size : 1.25rem;
        padding : 0 ; 
    }

    .crypto-earn {
        flex-direction : column ; 
        align-items : center ; 
        padding : 2rem ; 
    }

    .crypto-earn__rates {
        
        align-items : center ; 
        gap : 2rem ; 
    }
}